{#=====================================================
  Home page
  - List of tasks passed in as 'tasks' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Awesome To Do App

{% endblock %}



{% block content %}

    <h1>Awesome To Do App</h1>


    <section>

        {% for task in tasks %}

            <article class="task">
                <span class="task-priority">{{ task.priority }}</span>
                <span class="task-name">{{ task.name }}</span>
            </article>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </section>


    <article>

        <h3>New Task</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Task name"
                required
            >

            <input
                type="number"
                name="priority"
                min="1"
                max="5"
                placeholder="1-5"
                required
            >

            <button>Add</button>

        </form>

    </article>

{% endblock %}
