{#=====================================================
  Home page
  - List of tasks passed in as 'tasks' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Awesome To Do App

{% endblock %}



{% block content %}

    <h1><img src="/static/images/note.svg"> Awesome To Do App</h1>


    {# INCOMPLETE TASKS ----------------------------------- #}
    <article>

        <h4>Tasks To Do</h4>

        {% for task in incomplete %}

            <div class="task">

                <span class="status">
                    <a href="/complete/{{ task.id }}">
                        ☐
                    </a>
                </span>

                <span class="priority priority-{{ task.priority }}">
                    {{ task.priority }}
                </span>

                <span class="name">
                    {{ task.name }}
                </span>

                <span class="meta">
                    {{ task.timestamp | localtimestamp }}
                </span>
            </div>



        {% else %}

            <p>None!</p>

        {% endfor %}

    </article>


    {# COMPLETE TASKS ----------------------------------- #}
    <article>

        <h4>Completed Tasks</h4>

        {% for task in complete %}

            <div class="task complete">

                <span class="status">
                    <a href="/incomplete/{{ task.id }}">
                        🗹
                    </a>
                </span>

                <span class="priority priority-{{ task.priority }}">
                    {{ task.priority }}
                </span>

                <span class="name">
                    {{ task.name }}
                </span>

                <span class="delete">
                    <a href="/delete/{{ task.id }}" onclick="return confirm('Sure?');">
                        ⛒
                    </a>
                </span>
            </div>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </article>


    {# NEW TASK FORM ----------------------------------- #}
    <article>
        <h4>New Task</h4>

        <form action="/add" method="POST" role="group">

            <input
                type="text"
                name="name"
                placeholder="Task name"
                required
            >

            <select name="priority" aria-label="Select" required>
                <option selected disabled value="">Priority</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <button>Add</button>

        </form>
    </article>


{% endblock %}
