/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* TASKS -------------------------------------------- */

.task {
    display: flex;
    gap: 2em;
    align-items: center;
}


.task-priority {
    font-size: 1.3em;
    font-weight: bold;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-ins-color); }
#messages .message.error   { color: var(--pico-del-color); }

