/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* MAIN -------------------------------------------- */

body > main {
    max-width: 30rem;
    padding: 2rem 0;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
}


/* TASKS -------------------------------------------- */

.task {
    display: flex;
    gap: 2em;
    align-items: center;
}

.task .taskname {
    flex: 1;
}

.task.complete {
    opacity: 0.5;
}

.task .status a {
    text-decoration: none;
    font-size: 1.5em;
}

.task .delete a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--pico-color-red-500)
}

.priority {
    font-size: 1.3em;
    font-weight: bold;
}

.priority-5 { color: var(--pico-color-red-500); }
.priority-4 { color: var(--pico-color-pumpkin-500); }
.priority-3 { color: var(--pico-color-lime-500); }
.priority-2 { color: var(--pico-color-jade-500); }
.priority-1 { color: var(--pico-color-azure-500); }


/* FORM -------------------------------------------- */

input[name="name"] {
    min-width: 15rem;
}



/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-ins-color); }
#messages .message.error   { color: var(--pico-del-color); }

